@tailwind base;
@tailwind components;
@tailwind utilities;


body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.forms {
    @apply flex flex-col mx-auto pt-5 mb-12 pb-8 px-2 md:px-12 bg-white rounded w-[90%] max-w-[600px] md:mt-12;
}

.inputs {
    @apply outline-0 rounded border border-slate-800 p-4 mb-4 w-full;
}

.form-btn {
    @apply bg-[#000026] rounded p-2 hover:bg-[#121259] text-white text-lg text-center my-4;
}

.form-header {
    @apply text-xl text-slate-600 font-bold mb-5;
}